fastapi
uvicorn
python-dotenv
asyncio
requests
pydantic
networkx
matplotlib
scikit-learn
pandas
langchain
langchain-openai
python-nmap
psutil
watchdog
plotly
pyvis
pycountry
streamlit
altair
google-generativeai
pyyaml
imapclient
mail-parser
schedule
fpdf2
pg8000
